:root{
    --primary-color:  #2ff7dc;
    --secondary-color: rgb(21, 19, 30);
    --crema: #e0a178;
    --amarillo: #d2f20b;
    --naranja: #ff7309;
    --celeste: #35b49e;
    --rojo:#6e1131;
    --dark:33, 37, 41;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    font-size: 2rem;
    font-weight: 300;
    color: var(--primary-color);
}
h2{
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--primary-color);
}
h3{
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--primary-color);
}
h4{
    font-size: 1rem;
    font-weight: 300;
    color: var(--primary-color);
}
.color-primary{
    color: var(--primary-color);
}
.ranking-img{
    display: inline-block;
    object-fit: cover;
    box-shadow: 0 2px 6px #0003;
    border-radius: 50%;
    position: relative;
    box-shadow: 0px 0px 2rem rgba(255, 255, 255, 0.2);
}
.col, .col-1, .col-2, .col-3{
    display: flex;
    align-items: center;
}
.card-body{
    z-index: 2;
}
main .card{
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.top-3{
    padding-top: 6rem;
    transition: all 0.4s ease ;
}
.top-3:hover{
    scale: 1.1;
}
main section > .card:hover::before{
    content: "";
    position: absolute;
    top: 20%;
    left: -20%;
    width: 140%;
    height: 200%;
    background-image: linear-gradient(var(--celeste), var(--amarillo));
    animation: rotate 3s infinite linear;
}
main section> .card:hover::after{
    content: "";
    position: absolute;
    background-color: rgb(var(--dark));
    inset: 5px;
    
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
        
    }
}
.btn-score{
    border: 1px solid var(--primary-color);
    border-radius: 25px;
    width: 100px;
    height: 100%;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.btn-score:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
.contenedor{
    max-width: 850px;
    margin: 0 auto;
}
/*Fondo */
.bg-contenedor{
    background-color: rgba(21, 19, 30, 0.80);
    overflow: hidden;
}
.bg-body{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, var(--secondary-color),  rgb(46, 63, 141));
    z-index: -1;
}
.bg-body > div{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 6px solid var(--primary-color);
    border-color: var(--amarillo);
}
.bg-body > div:nth-child(even){
    border-radius: 50%;
    border-color: var(--primary-color);
}
.bg-body > div:nth-child(1){
    top: 32%;
    left: 96%;
    animation: animate 10s linear infinite ;
}
.bg-body > div:nth-child(2){
    top: 90%;
    left: 2%;
    animation: animate2 8s linear infinite ;

}
.bg-body > div:nth-child(3){
    top: 67%;
    left: 10%;
    animation: animate 16s linear infinite ;
}
.bg-body > div:nth-child(4){
    top: 57%;
    left: 88%;
    animation: animate2 13s linear infinite ;
}
.bg-body > div:nth-child(5){
    top: 91%;
    left: 91%;
    animation: animate 15s linear infinite ;
}
.bg-body > div:nth-child(6){
    top: 44%;
    left: 4%;
    animation: animate2 9s linear infinite ;
}
@keyframes animate {
    0%{
        transform: scale(0) translateY(0) rotate(360deg);
        opacity: 1;
    }
    100%{
        transform: scale(1.5) translateY(-90px) rotate(-180deg);
        border-radius: 50%;
        opacity: 0;
    
    }
}
@keyframes animate2 {
    0%{
        transform: scale(0) translateY(0) rotate(360deg);
        opacity: 1;
    }
    100%{
        transform: scale(1.5) translateY(-90px) rotate(-180deg);
        border-radius: 0%;
        opacity: 0;
    
    }
}
/*Fin Fondo */
circle {
    fill: none;
    stroke: #6d6d6d;
    stroke-width: 1;
    transform-origin: 50%;
    stroke-dasharray: 100 100;
    stroke-linecap: round;
}
circle:nth-child(2) {
    stroke: var(--color);
    stroke-width: 3;
    stroke-dasharray: 0 100;
    transform: rotate(-90deg);
    animation: expand 2.5s linear forwards;
}

circle:nth-child(3){
    stroke: white;
    stroke-width: 1;
    stroke-dasharray: 0  100;
    transform: rotate(-86deg);
    animation: expandInner 2.5s linear forwards;

}
.perfil-porcentaje {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.perfil-porcentaje .ranking-img {
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    width: 55px;
    height: 55px;
}
a:hover img{
    transform: scale(1.1);
}
[data-top][data-icon-top]::after, [data-top][data-icon-bottom]::after {
    content:attr(data-top) ;
    font-size: 1.5rem;
    position: absolute;
    color: white;
    font-weight: lighter;
    top: -3rem;
    left: 50%;
    transform: translateX(-50%);
}
[data-top][data-icon-top]::before, [data-top][data-icon-bottom]::before {
    content:attr(data-icon-top) attr(data-icon-bottom);
    font-size: 1.5rem;
    position: absolute;
    font-weight: bold;
    top: -3rem;
    left: -3.4rem;
    right: 2px;
}
[data-icon-bottom]::after {
    content: attr(data-icon-bottom);
    position: absolute;
    font-size: 1rem;
    font-weight: bold;
    color: var(--rojo);
    bottom: 1.3rem;
    left: 1.2rem;
}
[data-icon-top]::before {
    content: attr(data-icon-top);
    position: absolute;
    font-size: 1rem;
    font-weight: bold;
    color: var(--rojo);
    top: 1rem;
    left: 1.2rem;
}
[data-icon-top]::before{
    color:var(--celeste);
}
[data-icon-bottom]::before {
    color: var(--rojo);
}

.winner{
    margin-top: -40px;
}

.winner .ranking-img{
    width: 68px;
    height: 68px;
}
@keyframes expand{
    to{
        stroke-dasharray: var(--porcentaje) 100;
    }
}
@keyframes expandInner{
    to{
        stroke-dasharray: var(--dentro) 100;
    }
}
@media screen and (max-width: 768px){
    .col-1, .col-2, .col-3, .col{
        padding: 0%;
    }
    .col{
        padding-left: 0.3rem;
    }
    [data-icon-bottom]::after{
        left: .4rem;
    }
    [data-icon-top]::before{
        left: .4rem;
    }
}

/*Perfil*/
.progress-bar{
    animation: expand_progress 2.5s ease forwards ;
}
@keyframes expand_progress{
    to{
        width: 75%;
    }
    
}
.global-ranking{
    background-image: linear-gradient(to top, rgb(59, 24, 141,0.70), rgb(23, 24, 41,0.02));
}
.hexagono{
    width: 5rem;
    height: 5rem;
    clip-path: polygon(51% 100%, 100% 70%, 82% 0, 19% 0, 0 70%);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hexagono:hover{
    transform: scale(1.1);
}
.overflow-x-auto div:nth-child(1) > .hexagono{
    background-color: #5d2437;
}
.overflow-x-auto div:nth-child(2n) > .hexagono{
    background-color: #472e70;
}
.overflow-x-auto div:nth-child(3n) > .hexagono{
    background-color: #36177e;
}
.overflow-x-auto div:nth-child(5n) > .hexagono{
    background-color: #232d79;
}
.border-hexagono{
    width: 5.4rem;
    height: 5.4rem;
    clip-path: polygon(51% 100%, 100% 70%, 82% 0, 19% 0, 0 70%);
    position: absolute;
    top: -4%;
}
.overflow-x-auto div:nth-child(1) > .border-hexagono{
    background-color: #854454;
}
.overflow-x-auto div:nth-child(2n) > .border-hexagono{
    background-color: #7761a0;
}
.overflow-x-auto div:nth-child(3n) > .border-hexagono{
    background-color: #5428cc;
}
.overflow-x-auto div:nth-child(5n) > .border-hexagono{
    background-color: #39479d;
}
.overflow-x-auto::-webkit-scrollbar{
    width: 0;
}
.header_bg-filter{
    position: absolute;
    height:100%;
    width: 100%;
    z-index: -1;
}
.header_bg-filter img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter:opacity(0.2);

}